  <footer style="background-color: #f5f5f5; padding: 10px; text-align: center;">
    <p style="margin: 0;">&copy; 2023 | Todos los derechos reservados | Weather app</p>
    <p style="margin: 0;">Contacto: isaac.herrera@globant.com | Teléfono: +3153502883</p>
  </footer>